:root {
    --primary-color : #ffade7ff;
    --primary-dark-color : #ff8bddff;
    --primary-light-color : #ffade7ff;
    --primary-lighter-color : #ffade7ff;
    --primary-lightest-color : #ffade7ff;

    --content-maxwidth : auto;
}
